{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="gap-small"></div>

<div class="row" data-gutter="15">
    <div class="col-md-3 col-md-offset-2">
        <div class="product">
            <ul class="product-labels">
                <li>Profile</li>
            </ul>
            <div class="box-lg" >
                <div class="gap-small"></div>

                <div class="row">
                    <img src="{{ url_for('cookbook.uploads', filename=user.picture) }}" class="img-thumbnail" alt="Cinque Terre">
                </div>

                <div class="gap-small"></div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>
                            {{ user.firstname }} {{ user.lastname }}
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            <a href="{{ url_for('cookbook.profile_page', username=user.username) }}" style="color: darkslategray">
                                @{{ user.username }}
                            </a>
                        </p>
                    </div>
                </div>

                <div class="row panel panel-default" >

                    <div class="col-md-4 panel-heading">
                        <p class="text-center">Followers</p>
                    </div>

                    <div class="col-md-4 panel-heading">
                        <p class="text-center">Followings</p>
                    </div>

                    <div class="col-md-4 panel-heading">
                        <p class="text-center">Likes</p>
                    </div>


                    <div class="col-md-4 panel-body">
                        <h4 class="text-center">{{ followers|count }}</h4>
                    </div>

                    <div class="col-md-4 panel-body">
                        <h4 class="text-center">{{ following|count }}</h4>
                    </div>

                    <div class="col-md-4 panel-body">
                        <h4 class="text-center">{{ following|count }}</h4>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 text-center">
                        <a href="mailto:{{ user.email }}" class="btn btn-success btn-group-justified">
                            <span class="glyphicon glyphicon-send"></span>
                            Message
                        </a>
                    </div>

                    <div class="col-md-6 text-center">
                        <a href="mailto:{{ user.email }}" class="btn btn-info btn-group-justified">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Send Mail
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-5">
    {% for recipe in recipes %}

        <div class="product">
            <ul class="product-labels">
                <li>{{ recipe.name }}</li>
            </ul>
            <div class="gap-big"></div>
            <div class="row">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">{{ recipe.description }}</h3>
                        </div>
                    </div>
                </div>
                    <div class="panel-body">
                        <form action="" method="post">
                            <table class="table table-striped table-bordered table-list">
                                <thead>
                                    <tr>
                                        <th>Ingredient</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in recipe.ingredient_set %}
                                    <tr>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.amount }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="gap-small"></div>
                        </form>
                    </div>
                </div>
        </div>
        <div class="gap-small"></div>
        {% endfor %}
    </div>
</div>
{% endblock %}
